@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*щоб елемент не розширився, коли будуть додані відступи*/
    text-decoration: none; /*щоб не було підкреслень в посиланнях*/
    list-style-type: none; /*відсутній тип списків*/
}
/*---------------------header---------------*/
.active-link{
    color: black;
}
header{
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Orbitron", serif;
}
header div{
    text-align: center;
}
header div h3{
    font-size: 16px;
}
header nav ul{
    display: flex;
    gap: 20px;
}
header nav a{
    color: gray;
    font-size: 20px;
}
/*----------------------main------------------*/
main{
    height: 90vh;
    background-image: url("https://t3.ftcdn.net/jpg/01/67/72/04/360_F_167720496_af8JnHFQM7QMyIIz31tgp289ukGtlXKB.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "Orbitron", serif;
    padding: 50px;
    }
main p{
    font-size: 20px;
}
main h1{
    font-size: 100px;
    letter-spacing: 30px; /*тег розсуву літер*/
}
main button{
    width: 160px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    margin-top: 30px;
    transition: 2s;
}
main button:hover{
    transform: scale(1.1);
    transition: 2s;color: #2e5c5c;
}